<body class="animated fadeIn">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <h3 class="ml-3 mt-3">Privilegios del Usuario: {{ nombrepriv }}</h3>
                <div class="card-body">

                    <div class="table-responsive m-t-40">
                        <a style="cursor: pointer">

                            <button title="Regresar" [routerLink]="['/privilegiosusuarios']" class="btn btn-outline-success mb-2"><i class="mdi mdi-keyboard-backspace" style="font-size: x-large;"></i></button>
                            <button title="Crear" [routerLink]="['/privilegiousuarios/privilegiousuario/crearprivilegio', id]" class="btn btn-outline-info ml-2 mb-2"> <i class="mdi mdi-plus" style="font-size: x-large;"></i></button>
                            <!-- <input class="mt-2" style="float: right;" type="text" id="NombreUsuarios" (keyup)="buscarNombre()" placeholder="Buscar por Nombre"><i style="float: right; font-size: xx-large;" class="mdi mdi-magnify mt-0"></i> -->
                        </a>
                        <table>
                            <p-table #dt [columns]="cols" [value]="privilegios" [paginator]="true" [rows]="10" id="tablausuarios">
                                <ng-template pTemplate="caption">
                                    <div style="text-align:right">
                                        <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                                        <input type="text" pInputText size="50" placeholder="Buscar Privilegio..." (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                            {{col.header}}
                                            <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-privilegio let-rowData>
                                    <tr>
                                        <td>{{ privilegio.id }}</td>
                                        <td>{{ privilegio.value }}</td>
                                        <td>{{ privilegio.description }}</td>
                                        <td>{{ privilegio.documentation }}</td>
                                        <td>
                                            <button title="Eliminar" class="btn btn-outline-danger  mr-1" (click)="borraPrivilegio( privilegio.id, privilegio.user_id )"><i class="mdi mdi-delete" style="font-size: large;"></i></button>
                                            <button title="Modificar" class="btn btn-outline-success" [routerLink]="['/privilegiousuarios/privilegiousuario/actualizaprivilegio', privilegio.user_id, privilegio.id]"><i class="mdi mdi-pencil" style="font-size: large;"></i></button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>