<body class="animated fadeIn">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive m-t-40">
                        <button title="Regresar" [routerLink]="['/reportesolicitudesdetalles']" class="btn btn-outline-success ml-4 mb-4"><i class="mdi mdi-keyboard-backspace" style="font-size: x-large;"></i></button>
                        <p-table #dt [columns]="selectedColumns" [value]="facturas" id="tablaFacturas" [scrollable]="true">

                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                        {{col.header}}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-factura let-rowData>
                                <tr>
                                    <td>{{ factura.created_at }}</td>
                                    <td>{{ factura.notes }}</td>
                                    <td>{{ factura.status }}</td>
                                    <td>{{ factura.ip }}</td>
                                    <td>{{ factura.host }}</td>
                                </tr>
                            </ng-template>
                        </p-table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>